/* Sidebar */

.sidebar {
  float: left;
  position: fixed;
  width: 280px;
  bottom: 0;
  left: 0;
  right: auto;
}

header {
  border-right: 1px solid #AAA;
  padding: 0 10px;
  top: 0;
}

#site-title {
  font: bold 60px "nimbus-sans", sans-serif;
}

#site-title a,
#site-title a:hover,
#site-title a:active,
#site-title a:visited {
  color: #333;
  text-decoration: none;
}

footer.sidebar {
  border-top: 1px solid #AAA;
  color: #777;
  font: 12px sans-serif;
  margin: 0 10px;
  padding: 0;
  top: auto;
}

nav {
  margin: 0 0 0 150px;
  width: 140px;
}

nav > ul {
  list-style: none;
  padding: 0 10px;
}

nav li {
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0 0 4px 2px #BBB, inset 0 0 1px 0 #BBB;
  z-index: 1;
}

nav a {
  display: block;
  padding: 4px 0 0 10px;
  height: 26px;
  width: 110px;
  text-decoration: none;
  z-index: 0;
}

nav a:hover {
  background-clip: padding-box;
  background-color: #CCC;
}

nav a:visited {
  color: #222;
}

/* Global CSS */

a {
  color: #222;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #222;
  text-decoration: none;
}

a:visited {
  color: #666;
}

/* Content */

#content {
  color: #000;
  margin-left: 300px;
  max-width: 620px;
  padding: 0 10px;
  position: relative;
}

#content h1 {
  color: #111;
  font: bold 36px "nimbus-sans",sans-serif;
}

#content h2 {
  color: #333;
  font: bold 24px "nimbus-sans",sans-serif;
}

#content h3 {
  color: #444;
  font: bold 18px "nimbus-sans",sans-serif;
}

#content h4 {
  color: #666;
  font: bold 18px "nimbus-sans",sans-serif;
}

#content p,
#content li {
  color: #111;
  font: 18px / 30px "pt-serif",serif;
}

/* Page specific CSS */

.info-list,
.posts-list {
  list-style: none;
  padding: 0;
}

#content .post-item {
  margin-bottom: 20px;
}

#content .post-item > * {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

#content .item-description {
  color: #282828;
  font-size: 16px;
}

#content .item-meta {
  color: #666;
  font-size: 16px;
}

#content .post-item h2 a {
  font-weight: normal;
}
