body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#messages {
  height: 600px;
  width: 100%;
  font: 14px monospace;
}

#send-form input[name="message"] {
  width: 100%;
}
