{% extends "base.html" %}
{% block title %}Graph{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='highcharts.js')}}"></script>
<script src="{{url_for('static', filename='chart.js')}}"></script>
{% endblock %}

{% block content %}
  {{ super() }}
    <h1>Scavenger Hunt Progress</h1>
    <div id="chart">Loading the data. Just wait a bit.</div>
    <div id="rankings-container" style="display:none;">
      <p>Rankings</p>
      <ol id="rankings"></ol>
    </div>

    <p><a href="/about">About</a></p>
{% endblock %}
