---
title: Projects
scripts:  
---
            <article>
                <h1>Projects</h1>
                <p>All of my open source work can be found on my <a href="https://github.com/DanGe42">Github account</a>.
                Having said that, I have listed my most noteworthy projects on this page.</p>

                <div class="project" id="lendmo">
                    <h1>Lendmo</h1>

                    <!-- img -->
                    <div class="desc">
                        <p>Lendmo is a social lending tracker that makes it simple to track what you have lent to
                        or borrowed from your friends.</p>

                        <p>Lendmo was my team's Spring 2012 PennApps submission. This web application was written
                        primarily in Ruby on Rails, and it relies on Facebook for authentication. I implemented
                        integration with the Venmo API to allow users to pay borrowers back for item impairment
                        (i.e. the user broke whatever was lent to them). This was the first time I ever worked
                        with Ruby and Rails in a practical setting, and this project was a great way for me to
                        learn Rails and the MVC paradigm.</p>

                        <h2>Links</h2>
                        <ol class="links">
                            <li><a href="http://lendmo.heroku.com/">Site</a></li>
                            <li><a href="https://github.com/adidas006/Lendmo">Source code</a></li>
                            <li><a href="http://hackerleague.org/hackathons/penn-apps-2012-spring/hacks/lendmo">HackerLeague</a></li>
                            <li><a href="http://youtu.be/q-a2-gRD1Fk">Video</a></li>
                        </ol>
                    </div>

                </div>
                <div class="project" id="clickr">
                    <h1>Clickr</h1>

                    <img src="/images/clickr-thumb.png" alt="Image of the Clickr webapp in action" />
                    <div class="desc">
                        <p>Clickr is a Twitter-based replacement for <a href="http://imgur.com/6a7GS">clickers</a>. 
                        Clickers are useful because a professor can use them to poll his or her students when,
                        for example, he or she posts a sample multiple choice question. However,
                        these devices can be expensive for faculty and students, and thus, we wrote
                        this web app. Clickr works by parsing tweets directed at a course Twitter account
                        and charting the results (in realtime).</p>

                        <p>Clickr was my team's entry into the Fall 2011 PennApps Hackathon. This web
                        application was written primarily with PHP and JavaScript. I primarily
                        contributed to the JavaScript frontend logic; I wrote JS to pull data from
                        the Twitter search API, and then used <a href="http://www.highcharts.com">Highcharts</a>
                        to visualize the data. Using jQuery helped cut down on much of the code 
                        clutter and simplified subroutines like AJAX calls and JSON parsing.</p>

                        <h2>Links</h2>
                        <ol class="links">
                            <li><a href="http://www.adidahiya.com/Clickr/index.php">Site</a></li>
                            <li><a href="https://github.com/adidas006/Clickr">Source code</a></li>
                            <li><a href="http://www.youtube.com/watch?v=l32VTefjipc">Video of our demo</a></li>
                        </ol>
                    </div>
                </div>
                <div class="project" id="rage-racer">
                    <!-- img -->
                    <h1>Rage-Racer</h1>

                    <div class="desc">
                        <p>Rage-Racer is a racing game built as a mobile web app. It allows users to
                        race other smartphone users on a central server. To play, users simply tap
                        their phones to move their characters represented with rage faces (or if they 
                        want, they can run their fingers on their phones) and shake their phones to 
                        jump hurdles until they reach the finish line.</p>

                        <p>Rage-Racer was my team's (different team from the one I worked with for Clickr)
                        entry into the Spring 2011 HackNY Hackathon. This mobile web app was written
                        primarily with a node.js backend and a HTML5 canvas frontend. I primarily
                        contributed to the canvas frontend and JavaScript logic that displayed the
                        racetrack, locations of the characters, and the characters' movements in response
                        to run or jump inputs.</p>

                        <h2>Links</h2>
                        <ol class="links">
                            <li><a href="https://github.com/davidawang/Rage-Racer">Source code</a></li>
                            <li><a href="http://bit.ly/rageracer">Video of our demo</a></li>
                            <li>(Unfortunately, the game server is no longer up)</li>
                        </ol>
                    </div>
                </div>
                <div class="project" id="jasteroids">
                    <h1>JAsteroids</h1>

                    <img src="/images/jasteroids-thumb.png" alt="Image of JAsteroids game play" />
                    <div class="desc">
                        <p>JAsteroids is an <a href="http://en.wikipedia.org/wiki/Asteroids_(video_game)">Asteroids</a>
                        clone that I built for my CIS 120 final project. The game is written in Java
                        and uses the Swing toolkit. This clone is based off the version of Asteroids
                        that came with Windows XP. There is still quite a bit of work left for me
                        because the asteroids are all squares (could not really figure out how to do
                        collision detection efficiently) and movement is still quite awkward.</p>

                        <h2>Links</h2>
                        <ol class="links">
                            <li><a href="https://github.com/DanGe42/JAsteroids">Source code</a></li>
                            <li><a href="/files/AsteroidGame.jar">Binary (JAR)</a></li>
                        </ol>
                    </div>
                </div>
            </article>
